.task-entry-view {
    position: sticky;
    top: 0;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    z-index: 999;
    background-color: #333;
    width: 100%;
    border-bottom: 0.5px solid rgba(255,255,255,0.25);
}

.task-entry-view>input:first-of-type {
    border: 1px solid rgba(255,255,255,0.25);
    padding: 15px 25px;
    border-radius: 12px;
    margin-right: 20px;
    width: fit-content;
    overflow: hidden;
}

.task-entry-view input:focus,
.task-entry-view textarea:focus {
    outline: none;
    box-shadow: 0 0 8px 5px rgba(255,255,255,0.25);
    border-radius: 12px;
}


.task-entry-view>input:last-of-type {
    border: none;
    padding: 15px 25px;
    background-color: var(--green-color);
    color: #fff;
    border-radius: 12px;
    filter:drop-shadow(none);
    transform: scale(1);
    transition: all .2s ease;
    cursor: pointer;
}

.task-entry-view>input:last-of-type:hover {
    filter: drop-shadow(0 0 10px rgba(0, 138, 16, 0.25));
    transform: scale(1.03);
}


/***************** Smaller Desktop *****************/

@media screen and (min-width:980px) and (max-width: 1500px) {
    .task-entry-view {
        height: 100px;
    }
}

/***************** TABLET *****************/

@media screen and (min-width:765px) and (max-width: 980px) {
    .task-entry-view {
        height: 100px;
    }
}

/***************** MOBILE *****************/

@media screen and (max-width: 765px) {
    .task-entry-view {
        height: 80px;
    }
}
