.task-view {
    position: relative;
    width: 90%;
    padding: 0 5%;
    height: calc(100vh - 100px);
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 95px);
    justify-content: center;
}

.task {
border: 2px solid rgba(0,0,0,0.25);
padding: 15px 25px;
height: fit-content;
display: grid;
grid-template-columns: 1fr 30px;
align-items: center;
}

.task>button {
    height: 30px;
    border: none;
    background-color: var(--red-color);
    color: #fff;
    font-weight: 700;
}

/***************** Smaller Desktop *****************/

@media screen and (min-width:980px) and (max-width: 1200px) {
    .task-view {
    grid-template-columns: repeat(3, 1fr);
    }
}

/***************** TABLET *****************/

@media screen and (min-width:765px) and (max-width: 980px) {
    .task-view {
    grid-template-columns: repeat(2, 1fr);
    }
}

/***************** MOBILE *****************/

@media screen and (max-width: 765px) {
    .task-view {
    grid-template-columns: 1fr;

    }
}