:root {
  --light-red-color:#FF976B;
  --red-color: #FC8550;
  --green-color: #4AB068;
  --light-gray-color: #F1F6FA;
  --gray-color: #E7EEF3;
  --dark-gray-color: #5787A1;
  --button-color: #E2EDF1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-gray-color);
  background-color: #E7EEF3;
}
